.App {
    display: flex;
    flex-direction: column;
}

.eventzilla-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 90px;
	background-color: #373435;
}

.header-logo {
	display: flex;
	align-items: center;
	flex:9;
}

.header-logo > img {
	margin-left: 20px;
	height: 75px;
}

.header-action {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
	justify-content: space-evenly;
}

.header-search > img {
	width: 25px;
	height: 25px;	
}

.header-account > img {
	width: 25px;
	height: 25px;
}
#profile-nav {
	font-size: 18px;
	border-bottom: 1px solid #dedede;
}

#profile-nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}	

#profile-nav > ul > li {
	display: inline-block;
}

#profile-nav >ul> li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.active {
  border-bottom: 2px solid red;
}
.tickets-list {
	margin-top: 22px;
}
.App {
	height: 100%;
}

#profile-header {
  text-align: center;
  padding: 20px;
  display: block;
  background-color: #373435;
  color: white;
  height: 20%;
}

#profile-section {
	height: 80%;
	display: block;
	background-color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-img-top {
    width: 10%;
    height: 15vw;
}
.navbar-dark {
    padding: 2px 0px 0px 0px ;
    background-color: black;
    color: red;
    size:80%;
    font-family: Courier ;
}
.progress-bar{
  height: 25px;
}
.success{
  color:blue ;
}
.footer{
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.slide-container {
  width: 100%;
  margin: auto; }
.each-slide > div {
  display: flex;
  background-size: cover;
  height: 400px;
}
.paddingtop:{
  
  margin-top: 20px; 
  font-weight: bold;
}
.event-banner {
  height: 400px;
  width: 750px;
}

.event-shortDescription {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d0d0;
  flex: 1;
  margin-left: 30px;
  padding: 18px;
}

.event-shortDescription > div {
  margin-top: 50px;
}